################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/DynamicMosaicExample/bin/Debug/DynamicProcessor.xml
