################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/DynamicMosaicExample/bin/Debug/DynamicProcessor.xml
/DynamicMosaicExample/bin/Debug/DynamicProcessor.dll
/DynamicMosaicExample/bin/Debug/DynamicParser.xml
/DynamicMosaicExample/bin/Debug/DynamicParser.dll
/DynamicMosaicExample/bin/Debug/DynamicMosaicExample.pdb
/DynamicMosaicExample/bin/Debug/DynamicMosaicExample.exe
/DynamicMosaicExample/bin/Debug/DynamicMosaic.xml
/DynamicMosaicExample/bin/Debug/DynamicMosaic.pdb
/DynamicMosaicExample/bin/Debug/DynamicMosaic.dll
/.vs/DynamicMosaicExample/v15/Server/sqlite3/storage.ide-wal
/.vs/DynamicMosaicExample/v15/Server/sqlite3/storage.ide-shm
/.vs/DynamicMosaicExample/v15/Server/sqlite3/storage.ide
/.vs/DynamicMosaicExample/v15/Server/sqlite3/db.lock
/DynamicMosaicExample/obj/Debug/DynamicMosaicExample.exe
/DynamicMosaicExample/obj/Debug/DynamicMosaicExample.pdb
/DynamicMosaicExample/obj/Debug/TempPE/Resources.Designer.cs.dll
/DynamicMosaicExample/obj/Release/DynamicMosaicExample.csprojAssemblyReference.cache
/DynamicMosaicExample/obj/Release/DynamicMosaicExample.csproj.CoreCompileInputs.cache
/DynamicMosaicExample/obj/Debug/DynamicMosaicExample.csprojAssemblyReference.cache
/DynamicMosaicExample/obj/Debug/DynamicMosaicExample.csproj.GenerateResource.cache
/DynamicMosaicExample/obj/Debug/DynamicMosaicExample.csproj.CoreCompileInputs.cache
/DynamicMosaicExample/obj/Debug/DynamicMosaicExample.csproj.CopyComplete
/DynamicMosaicExample/bin/Debug/bB0.bmp
/DynamicMosaicExample/bin/Debug/bA0.bmp
